<main>
    <div class="success-container">
        <div class="success-card">
          <h1>Inscription réussie !</h1>
          <span class="message">
            Un email de vérification a été envoyé à votre adresse email.
          </span>
          <span class="instruction">
            Veuillez cliquer sur le lien dans l'email pour vérifier votre compte.
          </span>
          <div class="actions">
            <button class="btn-primary" routerLink="/">
              Retour à l'accueil
            </button>
          </div>
        </div>
      </div>
</main>
